<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.1">
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }}">
</head>
<body>
	<div class="Navbar">
		<div class="head">
			<h2>DROWNING DETECTING SYSTEM</h2>
		</div>
		<div class="options">
			<p><a class="a" href="/">Home</a></p>
			<p><a class="a" href="/login">Login</a></p>
			<p><a class="a" href="/register">Register</a></p>
			<p><a class="a" href="https://youtu.be/9YDec6hUY84">Demo</a></p>
		</div>
	</div>
	<div>
		<img id="img1" src="{{ url_for('static', filename='images/drown.jpg') }}">
	</div>
	<div class="subhead">
		<p>ABOUT PROJECT</p>
	</div>
	<div class="box">
		<div class="box1">
			<p id="id1">Problem</p>
			<p id="id2">There are possibilities that sometimes people will drown into the water while swimming in the pool. The death rate by drowning into the water is increasing in every year. To reduce the death rate, the drowning people should be rescued before completely drowning into the water.</p>
		</div>
		<div class="box2">
			<p id="id1">Solution</p>
			<p id="id2">We are using deep learning technology which will detect the person when he/she starting to drown into the water with the help of cameras. After successfull detection it triggers an alarm that will alert the life guards and they can save the drowning person as soon as possible.</p>
		</div>
	</div>
</body>
</html>